useDynLib(bayeslm)
# exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom(RcppParallel, RcppParallelLibs)
importFrom(stats, acf, cov, dnbinom, dnorm, lm, median, optim, pnorm, qchisq, quantile, rmultinom, rnorm, runif, var)
importFrom(graphics, abline, boxplot, bxp, contour, hist, image, lines, par, plot, plot.default, points, polygon, text, title)
importFrom(grDevices, dev.interactive, devAskNewPage, terrain.colors)
importFrom("stats", "model.frame", "model.matrix", "model.response", "qnorm", "sd")
importFrom(coda, effectiveSize)

export(bayeslm,summary.bayeslm.fit, summary.mcmc, hs_gibbs)

S3method(summary, bayeslm.fit)
S3method(summary, mcmc)
S3method(bayeslm, default)
S3method(bayeslm, formula)
S3method(plot, mcmc)
